<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ISIS"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus">
      </category>
      <view
            name="Beam Status"
            icon="icons/sample.gif"
            category="uk.ac.stfc.isis.ibex.ui.beamstatus"
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView">
      </view>
      <view
            name="Beam Status Hour Graph"
            icon="icons/sample.gif"
            category="uk.ac.stfc.isis.ibex.ui.beamstatus"
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusHourlyGraphView"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusHourlyGraphView">
      </view>
      <view
            name="Beam Status Day Graph"
            icon="icons/sample.gif"
            category="uk.ac.stfc.isis.ibex.ui.beamstatus"
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusDailyGraphView"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusDailyGraphView">
      </view>
   </extension>
   <extension
         name="Beam Status"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.perspective"
            name="Beam Status">
      </perspective>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.beamstatus.perspective">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusHourlyGraphView"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusDailyGraphView"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="bottom"
               relative="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusHourlyGraphView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
