<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ISIS"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus">
      </category>
      <view
            name="Beam Status Graph"
            icon="icons/sample.gif"
            category="uk.ac.stfc.isis.ibex.ui.beamstatus"
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView">
      </view>
   </extension>
   <extension
         name="Beam Status"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.beamstatus.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.beamstatus.perspective"
            name="Beam Status">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.beamstatus.perspective">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.beamstatus.views.BeamStatusView"
               minimized="false"
               moveable="false"
               ratio="1.0f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
            schemeId="IBEX_key_scheme"
            sequence="Alt+Shift+B">
         <parameter
               id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveID"
               value="uk.ac.stfc.isis.ibex.ui.beamstatus.perspective">
         </parameter>
      </key>
   </extension>

</plugin>
