<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="scriptgenerator" point="org.eclipse.core.runtime.products">
   	<product application="uk.ac.stfc.isis.ibex.scriptgenerator.product.scriptgenerator" name="scriptgenerator">
    <property name="appName" value="scriptgenerator"> </property>
    <property name="applicationXMI" value="uk.ac.stfc.isis.ibex.scriptgenerator.client/Application.e4xmi"> </property>
    <property
          name="aboutImage"
          value="platform:/plugin/uk.ac.stfc.isis.ibex.e4.product/icons/IBEX-icon-web64.gif">
    </property>
    <property
          name="windowImages"
          value="../uk.ac.stfc.isis.ibex.e4.product/icons/IBEX-icon-web16.gif,../uk.ac.stfc.isis.ibex.e4.product/icons/IBEX-icon-web32.gif,../uk.ac.stfc.isis.ibex.e4.product/icons/IBEX-icon-web48.gif,../uk.ac.stfc.isis.ibex.e4.product/icons/IBEX-icon-web64.gif">
    </property>
    <property
          name="applicationCSS"
          value="platform:/plugin/uk.ac.stfc.isis.ibex.scriptgenerator.client/default.css">
    </property>
  </product>
</extension>
</plugin>
