<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.goniometer.GoniometerView"
            id="uk.ac.stfc.isis.ibex.ui.goniometer"
            name="Goniometer"
            restorable="true">
      </view>
   </extension>

</plugin>
