bin/
base/*/target/
surefire-reports/
base/com.google.gson/.project
base/uk.ac.stfc.isis.ibex.tycho.parent/.project
base/workspace/.metadata/.log
base/uk.ac.stfc.isis.ibex.opis/check_OPI_format_logs
*.prefs
.metadata/
