<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.databrowser.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.databrowser.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.databrowser.perspective"
            name="Data Browser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <view
               closeable="true"
               id="org.csstudio.trends.databrowser.ploteditor.PlotEditor:*"
               minimized="false"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.blocks.presentation">
      <PVHistoryPresenter
            class="uk.ac.stfc.isis.ibex.ui.databrowser.DataBrowserHistoryPresenter">
      </PVHistoryPresenter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.stfc.isis.ibex.ui.databrowser.popup.processvariable">
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.databrowser.OpenDataBrowserPopup"
               icon="icons/new_databrowser.png"
               label="Data Browser"
               style="push"
               tooltip="%PopmenuTooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.databrowser.OpenDataBrowserPopup"
            id="uk.ac.stfc.isis.ibex.ui.databrowser.OpenDataBrowserPopup"
            name="%Databrowser">
      </command>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.databrowser.DataBrowserSettings">
      </InstrumentInfoReceiver>
   </extension>

</plugin>
