<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.python.pydev.pydev_interpreter_new_custom_entries">
      <interpreter_new_custom_entries_participant
            class="uk.ac.stfc.isis.ibex.ui.scripting.PyDevAdditionalInterpreterSettings">
      </interpreter_new_custom_entries_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_provider">
      <interpreter_provider_participant
            class="uk.ac.stfc.isis.ibex.ui.scripting.PythonInterpreterProviderFactory">
      </interpreter_provider_participant>
   </extension>
   <extension point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.scripting.ConsoleSettings">
      </InstrumentInfoReceiver>
   </extension>
	<extension point="org.eclipse.ui.bindings">
		<key
        commandId="uk.ac.stfc.isis.ibex.ui.scripting.KillScript"
        schemeId="IBEX_key_scheme"
        sequence="Ctrl+C"/>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
	   <handler class="uk.ac.stfc.isis.ibex.ui.scripting.InterruptScript"
	   commandId="uk.ac.stfc.isis.ibex.ui.scripting.KillScript">
	      <activeWhen>
	       <with variable="activeWorkbenchWindow.activePerspective">
	          <equals value="uk.ac.stfc.isis.ibex.ui.scripting.perspective">
	         </equals>
	      </with>
	   </activeWhen>
	</handler>
    <handler
          class="uk.ac.stfc.isis.ibex.ui.scripting.ConsoleLengthMonitor"
          commandId="uk.ac.stfc.isis.ibex.ui.scripting.clearConsole">
    </handler>
	</extension>
	
	   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uk.ac.stfc.isis.ibex.ui.scripting.KillScript"
            name="Kill the script">
      </command>
      <command
            id="uk.ac.stfc.isis.ibex.ui.scripting.clearConsole"
            name="Clear Console">
      </command>
    </extension>
      
    <extension
          point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView">
      <dynamic
            class="uk.ac.stfc.isis.ibex.ui.scripting.ConsoleLengthMonitor"
            id="uk.ac.stfc.isis.ibex.ui.scripting.clearConsole">
      </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView">
      <dynamic
            class="uk.ac.stfc.isis.ibex.ui.scripting.ConsoleHelpButton" 
            id="uk.ac.stfc.isis.ibex.ui.scripting.ConsoleHelpButton">
      </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?before=launchGroup">
        	  <dynamic
            class="uk.ac.stfc.isis.ibex.ui.scripting.ConsolesCountMonitor"
            id="uk.ac.stfc.isis.ibex.ui.scripting.ConsolesNumberMonitor.label">
      </dynamic>
      </menuContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             class="uk.ac.stfc.isis.ibex.ui.scripting.GeniePythonConsoleFactory"
             label="PyDevConsoleNoDialog">
       </consoleFactory>
    </extension>
</plugin>
