<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.scripting.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.scripting.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.scripting.perspective"
            name="Scripting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.scripting.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.diamond.scisoft.analysis.rcp.plotView1"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_new_custom_entries">
      <interpreter_new_custom_entries_participant
            class="uk.ac.stfc.isis.ibex.ui.scripting.PyDevAdditionalInterpreterSettings">
      </interpreter_new_custom_entries_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_provider">
      <interpreter_provider_participant
            class="uk.ac.stfc.isis.ibex.ui.scripting.PythonInterpreterProviderFactory">
      </interpreter_provider_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_info_builder">
      <interpreter_info_builder_participant
            class="uk.ac.stfc.isis.ibex.ui.scripting.InterpreterInfoBuilderParticipant">
      </interpreter_info_builder_participant>
   </extension>

</plugin>
