<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.tableofmotors.TableOfMotorsOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.tableofmotors.TableOfMotorsOpiTargetView"
            name="TableOfMotorsOpiTargetView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.motor.displayoptions.DisplaySettingsHandler"
            id="uk.ac.stfc.isis.ibex.ui.tableofmotors.colourOptionsCommand"
            name="ColourOptions">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="colourOptions"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="NORMAL_VISION">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
   </extension>
</plugin>
