<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="uk.ac.stfc.isis.ibex.ui.help.AboutHandler"
            description="About Isis"
            id="uk.ac.stfc.isis.ibex.ui.help.About"
            name="About">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.help.ManualHandler"
            description="Open User Manual"
            id="uk.ac.stfc.isis.ibex.ui.help.manual"
            name="Manual">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.help.ResetHandler"
            description="Reset server connection"
            id="uk.ac.stfc.isis.ibex.ui.help.reset"
            name="Reset">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=preferencesMenu">
            <menu
                  id="helpMenu"
                  label="Help"
                  mnemonic="H">
		         <command
                 commandId="uk.ac.stfc.isis.ibex.ui.help.About"
                 label="About"
                 mnemonic="A"
                 style="push">
		         </command>
           <command
                 commandId="uk.ac.stfc.isis.ibex.ui.help.manual"
                 label="User Manual (Web)"
                 mnemonic="U"
                 style="push">
           </command>
           <command
                 commandId="uk.ac.stfc.isis.ibex.ui.help.reset"
                 label="Reset server connection"
                 mnemonic="R"
                 style="push">
           </command>
         	</menu>
      </menuContribution>
   </extension>
</plugin>
