/* centered, fixed width document */
.document {
    width:1000px;
    margin:0 auto;
	background-color: white;
	padding: 30px;
	border-radius: 20px;
}

body {
	background: linear-gradient(to right, white, black, white);
}

h1.title {
	text-align: center;
	font-size: 3em;
	text-shadow: 5px 5px 10px grey;
}
  
pre.literal-block, pre.doctest-block, pre.math, pre.code {
	margin-left: 2em ;
	margin-right: 2em;
	background-color: #d0e4fe;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	padding: 10px;
	border-radius: 10px;  
}



/* line and spacing between each chapter */
.document > .section, #contents {
	border-bottom: 2px solid black;
	margin-bottom: 70px;
	padding-bottom: 20px;
}

/* font of Contents table title */
#contents > p {
	font-weight: bold;
	font-size: 2em;
}

/* spacing between contents table items */
#contents > .auto-toc  > li {
	margin-bottom: 10px;
	font-weight: bold;
	list-style-type: none;
	margin-left: 0;
}

#contents > .auto-toc  > li li {
	font-weight: normal;
	list-style-type: none;
}

#contents > .auto-toc  > li li li {
	font-style: italic;
	list-style-type: none;
}

#contents  ul {
	padding-left: 20px;
}

a {
	text-decoration: none;
}

.figure {
	border: 2px dotted black;
	padding: 10px;
	background-color: white;
	max-width: 940px;
	border-radius: 10px;
}
