<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.logplotter.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.logplotter.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.logplotter.perspective"
            name="Log Plotter">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.blocks.presentation">
      <PVHistoryPresenter
            class="uk.ac.stfc.isis.ibex.ui.logplotter.LogPlotterHistoryPresenter">
      </PVHistoryPresenter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.stfc.isis.ibex.ui.logplotter.popup.processvariable">
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.logplotter.OpenLogPlotterPopup"
               icon="icons/new_logplotter.png"
               label="Log Plotter"
               style="push"
               tooltip="%PopmenuTooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.logplotter.OpenLogPlotterPopup"
            id="uk.ac.stfc.isis.ibex.ui.logplotter.OpenLogPlotterPopup"
            name="%LogPlotter">
      </command>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.logplotter.LogPlotterSettings">
      </InstrumentInfoReceiver>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.stfc.isis.ibex.ui.logplotter.EmptyLogPlotterView"
            id="uk.ac.stfc.isis.ibex.ui.logplotter.EmptyLogPlotterView"
            name="Log Plotter">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
            schemeId="IBEX_key_scheme"
            sequence="Alt+Shift+P">
         <parameter
               id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveID"
               value="uk.ac.stfc.isis.ibex.ui.logplotter.perspective">
         </parameter>
      </key>
   </extension>

</plugin>
