<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryOpiTargetView"
            name="Reflectometry OPI View"
            restorable="true">
      </view>
   </extension>

</plugin>
