<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.graphing.MatplotlibOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.graphing.MatplotlibOpiTargetView"
            name="Matplotlib"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryFrontPanelTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryFrontPanelTargetView"
            name="Reflectometry Front Panel View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCollimationParametersTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCollimationParametersTargetView"
            name="Reflectometry Collimation Parameters View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometrySlitParametersTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometrySlitParametersTargetView"
            name="Reflectometry Slit Parameters View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryOtherParametersTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryOtherParametersTargetView"
            name="Reflectometry Other Parameters View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCorrectionsTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCorrectionsTargetView"
            name="Reflectometry Corrections View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryActivationParametersTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryActivationParametersTargetView"
            name="Reflectometry Activation Parameters View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryConstantsTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryConstantsTargetView"
            name="Reflectometry Constants View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryErrorLogTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryErrorLogTargetView"
            name="Reflectometry Error Log View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCollimationParametersTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryCollimationParametersTargetView"
            name="Reflectometry Constants View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryAdvancedTargetView"
            id="uk.ac.stfc.isis.ibex.ui.reflectometry.ReflectometryAdvancedTargetView"
            name="Reflectometry Advanced View"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="uk.ac.stfc.isis.ibex.ui.scripting.InterruptScript"
      commandId="uk.ac.stfc.isis.ibex.ui.scripting.KillScript">
	     <activeWhen>
	       <with variable="activeWorkbenchWindow.activePerspective">
	          <equals value="uk.ac.stfc.isis.ibex.client.e4.product.perspective.reflectometry">
	         </equals>
	      </with>
	   </activeWhen>
      </handler>
   </extension>

</plugin>
