<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.stfc.isis.ibex.experimentdetails.preferences.PreferencePage"
            id="uk.ac.stfc.isis.ibex.experimentdetails.preferences.ExperimentDetailsPreferencePage"
            name="Experiment Details Database">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.stfc.isis.ibex.experimentdetails.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
