<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.stfc.isis.ibex.ui.alarm.AlarmView"
            id="uk.ac.stfc.isis.ibex.ui.alarm.AlarmView"
            name="Alarm"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.alarm.AlarmHistoryView"
            id="uk.ac.stfc.isis.ibex.ui.alarm.AlarmHistory"
            name="Alarm History"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.alarm.AlarmTableView"
            id="uk.ac.stfc.isis.ibex.ui.alarm.AlarmTable"
            name="Alarm Table"
            restorable="true">
      </view>
   </extension>

</plugin>
