<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ISIS"
            id="uk.ac.stfc.isis.ibex.ui.synoptic">
      </category>
      <view
            class="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticView"
            id="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticView"
            name="New synoptic">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.synoptic.views.NavigationView"
            id="uk.ac.stfc.isis.ibex.ui.synoptic.NavigationView"
            name="Synoptic navigator"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticOpiTargetView"
            name="Component view"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticOpiTargetView"
            name="SynopticOpiTargetView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.synoptic.SynopticPerspective"
            id="uk.ac.stfc.isis.ibex.ui.synoptic.perspective"
            name="Synoptic">
      </perspective>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.synoptic.SynopticPerspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.synoptic.perspective">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.synoptic.NavigationView"
               minimized="false"
               moveable="false"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticView"
               minimized="false"
               moveable="false"
               ratio="0.1f"
               relationship="bottom"
               relative="uk.ac.stfc.isis.ibex.ui.synoptic.NavigationView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticOpiTargetView"
               minimized="false"
               moveable="false"
               ratio="0.6f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.synoptic.views.SynopticView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="css"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=css">
         <menu
               icon="platform:/plugin/org.csstudio.csdata/icons/processVariable.png"
               id="uk.ac.stfc.isis.ibex.ui.logplotter.popup.processvariable"
               label="Process Variable">
            <visibleWhen>
            <or>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="org.csstudio.csdata.ProcessVariable"/>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="[Lorg.csstudio.csdata.ProcessVariable;">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </or>
            </visibleWhen>
            <separator
                  name="main">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.synoptic.SynopticSettings">
      </InstrumentInfoReceiver>
   </extension>

</plugin>
