<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditCurrentConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditCurrentConfig"
            name="Edit Current Configuration">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditConfig"
            name="Edit Configuration">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewConfig"
            name="New Configuration">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewComponentHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewComponent"
            name="New Component">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.SaveConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.SaveConfig"
            name="Save Configuration">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditComponentHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditComponent"
            name="Edit Component">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.LoadConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.LoadConfig"
            name="Load Configuration">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteConfigsHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteConfigs"
            name="Delete Configurations">
      </command>
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteComponentsHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteComponents"
            name="Delete Components">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=instrumentMenu">
         <menu
         	   id="configurationMenu"
               label="Configuration">
            <command
                  commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditCurrentConfig"
                  id="uk.ac.stfc.isis.ibex.ui.config"
                  label="Edit Current Configuration..."
                  style="push"
                  tooltip="Edit the currently loaded configuration">
            </command>
            <menu
                  label="Configurations">
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewConfig"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="New"
                     style="push"
                     tooltip="Create a new config">
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.LoadConfig"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="Load"
                     style="push"
                     tooltip="Load a different configuration">
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditConfig"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="Edit"
                     style="push"
                     tooltip="Edit a configuration">
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteConfigs"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="Delete"
                     style="push"
                     tooltip="Delete configurations from the instrument">
               </command>
            </menu>
            <menu
                  label="Components">
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewComponent"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="New"
                     style="push"
                     tooltip="Create a new component">
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.EditComponent"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="Edit"
                     style="push"
                     tooltip="Edit a component">
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.DeleteComponents"
                     id="uk.ac.stfc.isis.ibex.ui.config"
                     label="Delete"
                     style="push"
                     tooltip="Delete components from the instrument">
               </command>
            </menu>
            <dynamic
                  class="uk.ac.stfc.isis.ibex.ui.configserver.commands.RecentItems"
                  id="uk.ac.stfc.isis.ibex.ui.configserver.dynamic">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.wait">
      <wait
            class="uk.ac.stfc.isis.ibex.ui.configserver.WaitForServer">
      </wait>
   </extension>

</plugin>
