<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.wait">
      <wait
            class="uk.ac.stfc.isis.ibex.ui.configserver.WaitForServer">
      </wait>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
               label="Add as Block"
               style="push"
               tooltip="Show this PV in a log plotter window">
         </command>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
            name="%NewBlock">
      </command>
   </extension>
</plugin>
