<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.wait">
      <wait
            class="uk.ac.stfc.isis.ibex.ui.configserver.WaitForServer">
      </wait>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
               label="Add to Current Config"
               style="push"
               icon="icons/add_block.png"
               tooltip="Add this PV as a block to the current configuration">
         </command>
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToConfigHandler"
               label="Add to a Config"
               style="push"
               icon="icons/add_block.png"
               tooltip="Add this PV as a block to the current configuration">
         </command>
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToComponentHandler"
               label="Add to a Component"
               style="push"
               icon="icons/add_block.png"
               tooltip="Add this PV as a block to the current configuration">
         </command>
         <command
               commandId="uk.ac.stfc.isis.ibex.ui.configserver.commands.CopyPVToClipboardHandler"
               label="Copy PV name to clipboard"
               style="push"
               icon="icons/add_block.png"
               tooltip="Add this PV as a block to the current configuration">
         </command>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.NewBlockHandler"
            name="%NewBlock">
      </command>
      
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToConfigHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToConfigHandler"
            name="%NewBlock">
      </command>
        <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToComponentHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.AddBlockToComponentHandler"
            name="%NewBlock">
      </command>
              <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.configserver.commands.CopyPVToClipboardHandler"
            id="uk.ac.stfc.isis.ibex.ui.configserver.commands.CopyPVToClipboardHandler"
            name="%NewBlock">
      </command>
   </extension>
</plugin>
