<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.ac.stfc.isis.ibex.example.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="uk.ac.stfc.isis.ibex.example.Perspective"
            id="uk.ac.stfc.isis.ibex.example.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="uk.ac.stfc.isis.ibex.example.View"
            id="uk.ac.stfc.isis.ibex.example.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="uk.ac.stfc.isis.ibex.example.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="CSS_ISIS"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.stfc.isis.ibex.example.application"
            name="CSS_ISIS">
         <property
               name="appName"
               value="CSS_ISIS">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.stfc.isis.ibex.product.application"
            name="IBEX">
         <property
               name="appName"
               value="IBEX">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.stfc.isis.ibex.product/icons/IBEX-icon-web64.gif">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.stfc.isis.ibex.product/icons/IBEX-icon-web16.gif,platform:/plugin/uk.ac.stfc.isis.ibex.product/icons/IBEX-icon-web32.gif,platform:/plugin/uk.ac.stfc.isis.ibex.product/icons/IBEX-icon-web48.gif,platform:/plugin/uk.ac.stfc.isis.ibex.product/icons/IBEX-icon-web64.gif">
         </property>
      </product>
   </extension>

</plugin>
