<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.stfc.isis.ibex.preferences.PreferenceInitializer">
      </initializer>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.preferences.PreferenceHandler"
            description="Open the preferences dialog"
            id="uk.ac.stfc.isis.ibex.preferences.commands.openPreferences"
            name="Open Preferences">
      </command>
   </extension> <extension
         point="org.eclipse.ui.bindings">
         <key sequence="Ctrl+Alt+P"
         	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         	commandId="uk.ac.stfc.isis.ibex.preferences.commands.openPreferences"
         	name="Open Preferences"/>
   </extension>

</plugin>
