<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.stfc.isis.ibex.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key sequence="Ctrl+Alt+P"
         	schemeId="IBEX_key_scheme"
         	commandId="org.eclipse.ui.window.preferences"
         	name="Open Preferences"/>
         <scheme
               id="IBEX_key_scheme"
               name="IBEX_key_scheme">
         </scheme>
   </extension>

</plugin>
