<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.dae.OnInstrumentSwitch">
      </InstrumentInfoReceiver>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.wait">
      <wait
            class="uk.ac.stfc.isis.ibex.ui.dae.WaitForDaeChanges">
      </wait>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.stfc.isis.ibex.ui.dae.spectraplots.SpectraOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.dae.SpectraOpiTargetView"
            name="name"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.dae.spectraplots.CombinedSpectraPlotsOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.dae.CombinedSpectraPlotsOpiTargetView"
            name="name"
            restorable="true">
      </view>
   </extension>
</plugin>
