<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.instrument.InstrumentHandler"
            id="uk.ac.stfc.isis.ibex.ui.instrument.InstrumentHandler"
            name="Select an instrument">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution
        allPopups="false"
        locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="instrumentMenu"
               label="Instrument">
            <command
                  commandId="uk.ac.stfc.isis.ibex.ui.instrument.InstrumentHandler"
                  id="uk.ac.stfc.isis.ibex.ui.instrument.InstrumentHandler"
                  label="Select an instrument..."
                  style="push"
                  tooltip="Select an instrument.">
            </command>
         </menu>
     </menuContribution>
   </extension>    
</plugin>
