<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.motor.views.MotorOPIView"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.MotorOPIView"
            name="Motor"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.MainMotorsView"
            name="Main Motors (Controllers 1 - 8)"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView"
            name="Additional Motors (Controllers 9 - 16)"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView2"
            name="Additional Motors (Controllers 17 - 24)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>

</plugin>
