<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.motor.views.MotorOPIView"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.MotorOPIView"
            name="Motor"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.MainMotorsView"
            name="Main Motors (Controllers 1 - 8)"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView"
            name="Additional Motors (Controllers 9 - 16)"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.motor.views.TableOfMotorsView"
            icon="icons/big_cog_16.png"
            id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView2"
            name="Additional Motors (Controllers 17 - 24)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.motor.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.motor.perspective"
            name="Main motors">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.motor.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.motor.perspective"
            name="Additional motors">
      </perspective>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.motor.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.motor.perspective">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.motor.views.MainMotorsView"
               minimized="false"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView"
               minimized="false"
               ratio="0.1f"
               relationship="stack"
               relative="uk.ac.stfc.isis.ibex.ui.motor.views.MainMotorsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView2"
               minimized="false"
               ratio="0.1f"
               relationship="stack"
               relative="uk.ac.stfc.isis.ibex.ui.motor.views.AdditionalMotorsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="uk.ac.stfc.isis.ibex.ui.motor.views.MotorOPIView:*"
               minimized="false"
               moveable="false"
               ratio="0.60f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.motor.views.MainMotorsView"
               showTitle="true"
               standalone="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.ui.motor.MotorHandler"
            id="uk.ac.stfc.isis.ibex.ui.motor.MotorHandler"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=runcontrolMenu">
         <menu
               id="preferencesMenu"
               label="Preferences">
            <menu
                  id="colourSettingsMenu"
                  label="Colour Settings">
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.motor.MotorHandler"
                     id="normalVisionCommand"
                     label="Normal Vision"
                     style="radio">
                  <parameter
                        name="uk.ac.stfc.isis.ibex.ui.motor.colorOptionID"
                        value="hello">
                  </parameter>
               </command>
               <command
                     commandId="uk.ac.stfc.isis.ibex.ui.motor.MotorHandler"
                     id="deuteranopiaCommand"
                     label="Deuteranopia"
                     style="radio">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
