<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.stfc.isis.ibex.ui.graphing.MatplotlibOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.graphing.MatplotlibOpiTargetView"
            name="Matplotlib"
            restorable="true">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.graphing.MatplotlibOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.graphing.BackgroundScriptOpiTargetView"
            name="Matplotlib"
            restorable="true">
      </view>
   </extension>
</plugin>
