<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.stfc.isis.ibex.ui.perspectives" name="IsisPerspectives" schema="schema/uk.ac.stfc.isis.ibex.ui.perspectives.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.perspectives.BasePerspective"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.base"
            name="Base">
      </perspective>
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.perspectives.Startup"
            fixed="true"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.startup"
            name="Startup">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.perspectives.synoptic">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.goniometer.SynopticView"
               minimized="false"
               moveable="true"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.perspectives.switcher.PerspectiveSwitcherView"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
            name="Perspectives">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.perspectives.views.StartupView"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.views.StartupView"
            name="Start up">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.perspectives.ViewPart1"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   
	<extension
	     point="org.eclipse.ui.preferencePages">
	  <page
	        class="uk.ac.stfc.isis.ibex.ui.perspectives.PreferencePage"
	        id="uk.ac.stfc.isis.ibex.ui.perspectives.PreferencePage"
	        name="ISIS Perspectives">
	  </page>
	</extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspectiveHandler"
          id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          name="Switch Perspective">
       <commandParameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveID"
             name="id"
             optional="false"
             typeId="java.lang.String">
       </commandParameter>
    </command>
 </extension>
</plugin>
