<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.stfc.isis.ibex.ui.perspectives" name="IsisPerspectives" schema="schema/uk.ac.stfc.isis.ibex.ui.perspectives.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.perspectives.BasePerspective"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.base"
            name="Base">
      </perspective>
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.perspectives.Startup"
            fixed="true"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.startup"
            name="Startup">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.stfc.isis.ibex.ui.perspectives.synoptic">
         <view
               closeable="false"
               id="uk.ac.stfc.isis.ibex.ui.goniometer.SynopticView"
               minimized="false"
               moveable="true"
               ratio="0.1f"
               relationship="right"
               relative="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.perspectives.switcher.PerspectiveSwitcherView"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.PerspectiveSwitcher"
            name="Perspectives">
      </view>
      <view
            allowMultiple="false"
            class="uk.ac.stfc.isis.ibex.ui.perspectives.views.StartupView"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.views.StartupView"
            name="Start up">
      </view>
      <view
            class="uk.ac.stfc.isis.ibex.ui.perspectives.ViewPart1"
            id="uk.ac.stfc.isis.ibex.ui.perspectives.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   
	<extension
	     point="org.eclipse.ui.preferencePages">
	  <page
	        class="uk.ac.stfc.isis.ibex.ui.perspectives.PreferencePage"
	        id="uk.ac.stfc.isis.ibex.ui.perspectives.PreferencePage"
	        name="ISIS Perspectives">
	  </page>
	</extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F1">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="0">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F2">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="1">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F3">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="2">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F4">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="3">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F5">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="4">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F6">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="5">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F7">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="6">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F8">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="7">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F9">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="8">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F10">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="9">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F11">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="10">
       </parameter>
    </key>
    <key
          commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          schemeId="IBEX_key_scheme"
          sequence="F12">
       <parameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             value="11">
       </parameter>
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspectiveHandler"
          id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
          name="Switch Perspective">
       <commandParameter
             id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveNumber"
             name="number"
             optional="false"
             typeId="java.lang.Integer">
       </commandParameter>
    </command>
 </extension>
</plugin>
