<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="uk.ac.stfc.isis.ibex.targetplatform" sequenceNumber="254">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.feature.feature.group" version="1.0.0.20150724-1352"/>
<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/Mockito_P2/"/>
</location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="http://shadow.nd.rl.ac.uk/ICP_P2/jacorb/target/repository/"/>
        <unit id="org.jacorb.omgapi" version="3.9.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest"/>
        <unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.0.0"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/Py4j_P2"/>
		<unit id="org.py4j.feature.feature.group" version="0.10.9.2-bnd-BwsoWA"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
         <unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="9.1.0.201609301330"/>
         <repository location="http://download.eclipse.org/releases/2018-09"/>
     </location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/css_gui_dependencies/cs-studio/p2repo/"/>
		<unit id="org.epics.jca" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-smile" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="0.0.0"/>
		<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="0.0.0"/>
		<unit id="org.csstudio.alarm.beast.tools.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.alarm.beast.ui.alarmtable.opiwidget.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.alarm.beast.ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.alarm.diirt.datasource.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.applications.opibuilder.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.applications.opibuilder.widgets.detailpanel.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.applications.pvmanager.diag.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.applications.utility.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.archive.reader.rdb.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.base.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.base.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.diirt.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.platform.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.platform.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.utility.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.core.utility.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.thirdparty.all.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.thirdparty.all.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.trends.databrowser2.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.trends.databrowser2.opiwidget.feature.feature.group" version="0.0.0"/>
		<unit id="org.csstudio.utilities.feature.feature.group" version="0.0.0"/>
		<unit id="org.epics.caj" version="0.0.0"/>
		<unit id="org.epics.channelfinder.cf-client-api" version="0.0.0"/>
		<unit id="org.epics.jca.source" version="0.0.0"/>
		<unit id="org.epics.pvaccess.source" version="0.0.0"/>
		<unit id="org.epics.pvdata.source" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/rt/eclipselink/updates/"/>
		<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.7.v20200504-69f2c2b80d"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/nebula/releases/2.4.3/"/>
		<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="2.1.0.202011020719"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2021-03/"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.25.0.v20210114-1734"/>
		<unit id="org.eclipse.gef.cloudio.sdk.feature.group" version="5.0.2.202103090301"/>
		<unit id="org.eclipse.gef.cloudio.user.feature.group" version="5.0.2.202103090301"/>
		<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.1.202103090301"/>
		<unit id="org.eclipse.gef.dot.sdk.feature.group" version="5.1.3.202103090301"/>
		<unit id="org.eclipse.gef.dot.user.feature.group" version="5.1.3.202103090301"/>
		<unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.3.202103090301"/>
		<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.1.0.202103090301"/>
		<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.202103090301"/>
		<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.2.3.202103090301"/>
		<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.1.2.202103090301"/>
		<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.5.202103090301"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository/"/>
		<unit id="com.google.gson" version="2.8.6.v20201231-1626"/>
		<unit id="com.google.gson.source" version="2.8.6.v20201231-1626"/>
		<unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
		<unit id="javax.activation" version="2.0.0.v20201118-1818"/>
		<unit id="javax.mail.glassfish" version="1.4.1.v201108011116"/>
		<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
		<unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
		<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
		<unit id="org.apache.jasper" version="7.0.56.v201412180755"/>
		<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
		<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
		<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
		<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
		<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
		<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.19/"/>
		<unit id="org.eclipse.platform.ide" version="4.19.0.I20210303-1800"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.19.0.v20210303-1800"/>
		<unit id="org.eclipse.rcp.source.feature.group" version="4.19.0.v20210303-1800"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/efxclipse/runtime-released/3.8.0/site/"/>
		<unit id="org.eclipse.fx.core.feature.feature.group" version="3.8.0.202204150819"/>
		<unit id="org.eclipse.fx.nl.feature.feature.group" version="3.8.0.202204150819"/>
		<unit id="org.eclipse.fx.runtime.feature.feature.group" version="3.8.0.202204150819"/>
		<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.8.0.202204150815"/>
		<unit id="org.eclipse.fx.slf4j.target.feature.feature.group" version="3.8.0.202201192058"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/Pydev_test2/features/org.python.pydev.p2-repo/target/repository/"/>
		<unit id="org.python.pydev.feature.feature.group" version="9.3.0.202206071304"/>
		<unit id="org.python.pydev.feature.source.feature.group" version="9.3.0.202206071304"/>
		<unit id="org.python.pydev.mylyn.feature.feature.group" version="0.6.0"/>
	</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_GB</nl>
</environment>
<!-- Note: eclipse target platform editor will default to the last specified environment, so specify linux first and then windows. Maven is happy building both. -->
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>en_GB</nl>
</environment>
</target>