<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="uk.ac.stfc.isis.ibex.targetplatform" sequenceNumber="109">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.feature.feature.group" version="1.0.0.20150724-1352"/>
<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/Mockito_P2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.csstudio.pvmanager.feature.feature.group" version="3.3.0.20140923-1503"/>
<unit id="org.csstudio.pvmanager.ca.feature.feature.group" version="3.2.2.20140923-1511"/>
<unit id="org.csstudio.core.util.feature.feature.group" version="3.1.0.20140923-1511"/>
<unit id="org.csstudio.opibuilder.feature.feature.group" version="3.2.7.20140923-1511"/>
<unit id="org.csstudio.trends.databrowser2.feature.feature.group" version="3.2.2.20140923-1511"/>
<unit id="org.csstudio.boy.feature.feature.group" version="3.2.1.20140923-1511"/>
<unit id="org.csstudio.alarm.beast.ui.feature.feature.group" version="3.2.1.20140923-1511"/>
<repository location="http://shadow.nd.rl.ac.uk/ICP_P2/CSStudio_P2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.8.2.M20130131-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="0.9.9.201509211025"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.lucene.memory" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.misc" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.queries" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.grouping.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spatial.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.analysis.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.grouping" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.highlighter" version="3.5.0.v20121015-1317"/>
<unit id="com.google.gson" version="2.1.0.v201303041604"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.analysis" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.core.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.memory.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spatial" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.lucene.misc.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spellchecker" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.highlighter.source" version="3.5.0.v20121015-1317"/>
<unit id="org.apache.lucene.spellchecker.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>en_GB</nl>
</environment>
</target>
