<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.stfc.isis.ibex.ui.perspectives">
      <contribution
            class="uk.ac.stfc.isis.ibex.ui.weblinks.Perspective">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.stfc.isis.ibex.ui.weblinks.Perspective"
            id="uk.ac.stfc.isis.ibex.ui.weblinks.perspective"
            name="Web Links">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksOpiTargetView"
            name="Web Links OPI view"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.ac.stfc.isis.ibex.ui.perspectives.commands.SwitchPerspective"
            schemeId="IBEX_key_scheme"
            sequence="Alt+Shift+W">
         <parameter
               id="uk.ac.stfc.isis.ibex.ui.perspectives.commands.perspectiveID"
               value="uk.ac.stfc.isis.ibex.ui.weblinks.perspective">
         </parameter>
      </key>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksInstrumentSwitcher">
      </InstrumentInfoReceiver>
   </extension>
</plugin>
