<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksOpiTargetView"
            id="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksOpiTargetView"
            name="Web Links OPI view"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.stfc.isis.ibex.instrument.info">
      <InstrumentInfoReceiver
            class="uk.ac.stfc.isis.ibex.ui.weblinks.WebLinksInstrumentSwitcher">
      </InstrumentInfoReceiver>
   </extension>
</plugin>
