<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=iocMenu">
         <menu
               id="usersMenu"
               label="Users">
            <command
                  commandId="uk.ac.stfc.isis.ibex.users.ui.commands.switchUser"
                  label="Switch user..."
                  style="push"
                  tooltip="Change the current user">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.stfc.isis.ibex.users.ui.SwitchUserHandler"
            description="Change the current user"
            id="uk.ac.stfc.isis.ibex.users.ui.commands.switchUser"
            name="Switch user">
      </command>
   </extension>

</plugin>
